AD/data
datasets/
work report
AD/results
results/s
results/base_gat/best_state.pt
results/base_gat/history.pt
results/fuzzy_gat/best_state.pt
results/fuzzy_gat/history.pt
results/per_edge_gat/best_state.pt
results/per_edge_gat/history.pt
results/compositePat_gcn_fuzzy/fuzzy_params.pt
results/compositePat_gcn_fuzzy/fuzzy_rules.pt
results/compositePat_gcn_fuzzy/metrics.json
results/compositePat_gcn_fuzzy/model.pt
results/compositePat_gcn_fuzzy/predictions.pt
results/rmp_gat
results/rmp_gat/train_result_trial0.pt
results/rmp_gat/train_result_trial0.pt
results/rmp_gat/val_metrics_trail0.pt
results/fuzzy_gat_Composite
results/fuzzy_gat_NormExpression
results/fuzzy_gat_RawExpression
results/baseline_gat_RawExpression
results/ml_Composite
results/ml_NormExpression
results/fuzzy_gat_Composite-k30
results/baseline_gat_NormExpression
results/baseline_gat_Composite
results/ml_LogisticRegression_Composite
results/ml_RandomForest_Composite
AD/model_comparison.ipynb
