AD/data
datasets/
work report
AD/results
results/s
results/base_gat/best_state.pt
results/base_gat/history.pt
results/fuzzy_gat/best_state.pt
results/fuzzy_gat/history.pt
results/per_edge_gat/best_state.pt
results/per_edge_gat/history.pt
results/compositePat_gcn_fuzzy/fuzzy_params.pt
results/compositePat_gcn_fuzzy/fuzzy_rules.pt
results/compositePat_gcn_fuzzy/metrics.json
results/compositePat_gcn_fuzzy/model.pt
results/compositePat_gcn_fuzzy/predictions.pt
results/rmp_gat
results/rmp_gat/train_result_trial0.pt
results/rmp_gat/train_result_trial0.pt
results/rmp_gat/val_metrics_trail0.pt
results/fuzzy_gat_Composite
results/fuzzy_gat_NormExpression
results/fuzzy_gat_RawExpression
results/baseline_gat_RawExpression
results/ml_Composite
results/ml_NormExpression
results/fuzzy_gat_Composite-k30
results/baseline_gat_NormExpression
results/baseline_gat_Composite
results/ml_LogisticRegression_Composite
results/ml_RandomForest_Composite
AD/model_comparison.ipynb
results/baseline_gcn_Composite-k16
results/baseline_gat_Composite-k16
results/baseline_gin_Composite-k16
results/fuzzy_gat_Composite-k16
results/fuzzy_gcn_Composite-k16
results/fuzzy_gin_Composite-k16
results/ml_LogisticRegression_Composite-k16
results/ml_RandomForest_Composite-k16
results/ml_SVM_Composite-k16
results/baseline_gat_Composite-k30
results/baseline_gcn_Composite-k30
results/baseline_gin_Composite-k30
results/baseline_gcn_NormExpression
results/fuzzy_gcn_Composite-k30
results/fuzzy_gin_Composite-k30
results/baseline_gin_NormExpression
results/fuzzy_gcn_NormExpression
results/fuzzy_gin_NormExpression
AD/all_metrics_subplots.png
results/baseline_gcn_RawExpression
results/baseline_gin_RawExpression
results/fuzzy_gcn_RawExpression
results/fuzzy_gin_RawExpression
results/fuzzy_paper_gcn_Composite-k16
results/fuzzy_paper_gcn_RawExpression
results/fuzzy_gcn_Bloodmnist
results/fuzzy_paper_gcn_Bloodmnist
results/baseline_gcn_Bloodmnist
results/fuzzy_fuzzy_only_Bloodmnist
results/fuzzy_fuzzy_only_Composite-k16
results/fuzzy_fuzzy_only_NormExpression
results/fuzzy_fuzzy_only_NormExpression-k5
results/fuzzy_gcn_NormExpression-k5
results/fuzzy_fuzzy_only_Composite-k5
results/fuzzy_gcn_Composite-k5
results/ml_LogisticRegression_NormExpression
results/ml_LogisticRegression_RawExpression
results/ml_RandomForest_NormExpression
results/ml_RandomForest_RawExpression
results/ml_SVM_NormExpression
results/ml_SVM_RawExpression
results/label_leakage
results/three_classes
results/two_class
results/two_classes/label_leakage
results/two_classes/no_label_leakage
AD/kg_rule_features/direct_features.csv
AD/kg_rule_features/knn_features.csv
results/ml
results/